body {
	
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

}
h1 {
	text-align: center;
	padding-top: 20px;
	
	text-transform: uppercase;
	color: rgb(0,126,151);
}
footer {
  position: fixed;
 
  bottom: 0;
  width: 100%;
  color: black;
}


